node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage
__pycache__

*.pyc

*.lock-waf_darwin_build
*/*.lock-waf_darwin_build
*/**.lock-waf_darwin_build

server/aubio/build

*.DS_Store
*/**.DS_Store
*/*.DS_Store
